@use '../../../styles' as *;

.order__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  margin: 0 auto;
  width: 30rem;
}

.form {
  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;

    &_radio {
      gap: 0.5rem;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    width: 11rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: $primaryColor1;
  }

  &__checkbox {
    width: 1rem;
    height: 1rem;
    border: 1px solid $borderColor1;
    border-radius: 0.5rem;
    &:checked {
      background: $borderColor1;
    }
  }

  &__card {
    padding: 1rem;
    height: 23rem;

    &_image {
      width: 13rem;
      height: 13rem;
      border-radius: 0.5rem;
    }
  }
}

.input__file {
  color: $primaryColor1;
  font-family: 'Open Sans', sans-serif;
}

.button {
  font-size: 1rem;
  font-weight: 700;
  height: 1.8rem;
  width: 10rem;
  background: $primaryColor2;
  border: 1px solid $borderColor1;
  border-radius: 1.2rem;
  color: $primaryColor1;
  cursor: pointer;

  &:hover {
    background: $primaryColor3;
    color: $primaryColor2;
  }

  &:active {
    background: $borderColor1;
  }

  &:disabled {
    background-color: $buttonDisableBG;
    cursor: auto;
  }
}

.image-preview {
  &__wrapper {
    width: 10rem;
    height: 10rem;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  &__item {
    width: 10rem;
    height: 10rem;
  }
  &__text {
    color: grey;
    text-align: center;
  }
}
