$primaryColor1: #151515;
$primaryColor2: #ffffff;
$primaryColor3: #6a983c;
$primaryColor4: grey;

$borderColor1: #46760a;

$backgroundcColor1: #f4f8ec;
$backgroundcColor1Hover: #e8f4d1;
$backgroundcColor1Active: #def7b1;

$buttonDisableBG: #f5f5f5;

$errorMessage: #ff0000;
