.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 1rem;

  &__item {
    width: 6rem;
    height: 1.5rem;
    border-radius: 1rem;
    border-bottom: 3px solid #e6704b;
    padding: 0.1rem;
    text-align: center;
    transition: linear 0.2s;
    text-decoration: none;
    color: black;

    &:hover {
      transform: scale(1.04);
      transition: linear 0.2s;
      font-weight: 600;
    }

    &:visited {
      text-decoration: none;
      color: black;
    }
  }
}

.active {
  background-color: #f4f8ec;
  font-weight: 600;
}
