.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 1rem;
}

.active {
  background-color: #f4f8ec;
  font-weight: 600;
}

.navigation__item {
  width: 6rem;
  height: 1.5rem;
  border-radius: 1rem;
  border-bottom: 3px solid #e6704b;
  padding: 0.1rem;
  text-align: center;
  transition: linear 0.2s;
}

.navigation__item:hover {
  transform: scale(1.04);
  transition: linear 0.2s;
  font-weight: 600;
}

.navigation__item,
.navigation__item:visited {
  text-decoration: none;
  color: black;
}
